<div id="activitats">
    <h2 class="heading">Activitats ⛷️</h2>
    <picture class="u-wrapped-image">
        <source media="(max-width: 1023px)" srcset="assets/images/DSC_4747_close.jpg?as=webp&width=800" type="image/webp">
        <source media="(max-width: 1023px)" srcset="assets/images/DSC_4747_close.jpg?width=800" type="image/jpeg">
        <img class="image" src="assets/images/DSC_4747.jpg?as=webp&width=800" alt="Rafting a Llavorsí">
    </picture>
    <p>
        Les activitats de muntanya són les més populars al Pallars Sobirà. La comarca ofereix una gran varietat
        d'activitats per a tots els gustos i nivells. Algunes de les activitats més destacades són: rafting,
        barranquisme, escalada, senderisme, BTT, equitació, esquí nòrdic, esquí alpí, raquetes de neu...
    </p>
    <p>️
        Les estacions d'esquí de Baqueira Beret, Espot Esquí i Port Ainé són les més conegudes de la comarca. A més,
        també trobem estacions més petites com Tavascan, que ofereixen un ambient més tranquil i familiar.
    </p>
</div>
