<div id="gastronomia">
    <h2 class="heading">Gastronomia 🍷</h2>
    <p>
        La gastronomia del Pallars Sobirà és rica i variada. Els plats més típics de la comarca són la carn de caça, els
        embotits, els formatges i els bolets. A més, també destaquen els plats elaborats amb peix de riu, com la truita
        de riu.
    </p>
    <p>
        Alguns dels plats més tradicionals de la comarca són l'escudella o vianda i el trinxat de col. A l'apartat
        d'embotits trobem la <a class="link" href="https://turisme.sort.cat/fitxes/girella/">girella</a> i el formatge
        de <a class="link" href="https://turisme.sort.cat/fitxes/tupi/">tupí</a> com alguns dels productes més típics
        del Pallars Sobirà.
    </p>
    <p>
        El licor de cassís, juntament amb la ratafia, és una de les begudes més tradicionals de la comarca. Es tracta
        d'un licor dolç elaborat amb fruits vermells. La gent del Pallars Sobirà el pren sol, amb gel o barrejat amb
        gin-tonic.
    </p>
    <p>
        Per acabar l'àpat, tenim el postre estrella de la comarca: el
        <a class="link" href="https://turisme.sort.cat/ca/fitxes/filiberto/">filiberto</a>,
        que a més és completament lliure de gluten. També destaquen les galetes de la Noguera Pallaresa, unes galetes de
        mantega i nous que es fan a la
        comarca des de fa molts anys.
    </p>
</div>
