<div id="introduccio">
    <h2 class="heading">Introducció 🏔️</h2>
    <picture class="u-wrapped-image">
        <source media="(max-width: 1023px)" srcset="assets/images/20240923_130425_close.jpg?as=webp&width=800" type="image/webp">
        <source media="(max-width: 1023px)" srcset="assets/images/20240923_130425_close.jpg?width=800" type="image/jpeg">
        <img class="image" src="assets/images/20240923_130425.jpg?as=webp&width=800" alt="Mare de Déu de les Neus d'Àrreu">
    </picture>
    <p>
        El Pallars Sobirà és una comarca del nord-oest de Catalunya amb un paisatge impressionant. La comarca té una
        població de poc més de 7.000 habitants ben dispersa en els quasi 1.400 km2 de superfície. Això fa que el Pallars
        Sobirà sigui una de les comarques amb menys densitat de població de Catalunya.
    </p>
    <p>
        El gentilici dels habitants del Pallars Sobirà és pallaresos i pallareses. Aquest gentilici és compartit amb la
        comarca veïna del Pallars Jussà, que es troba al sud del Pallars Sobirà.
    </p>
</div>
