<div id="la-llengua">
    <h2 class="heading">La llengua 🗣️</h2>
    <p>
        Els/les pallareses parlen un dialecte del català anomenat pallarès. Aquest dialecte es caracteritza per la seva
        pronunciació, que és molt diferent de la del català central. A més, el pallarès té algunes paraules i
        expressions pròpies que no es troben en altres dialectes del català.
    </p>
    <p>Algunes de les paraules o expressions populars són:</p>
    <ul>
        <li>Potxo - petó</li>
        <li>Trumfa - patata</li>
        <li>Carrota - pastanaga</li>
        <li>Mai tant - no n'hi ha per tant</li>
        <li>A plaeret - a poc a poc / tranquil·lament</li>
        <li>Furro - esquerp</li>
        <li>Farga't - posa't la samarreta per dins els pantalons</li>
        <li>Catxar - fer l'amor</li>
        <li>Goiat / goiata - noi / noia</li>
        <li>Gormand/a - golafre</li>
    </ul>
</div>
