<div id="mapa">
    <h2 class="heading">Mapa 📍</h2>
    <div class="twoColumns">
        <div class="twoColumns__column">
            <div id="map" class="map"></div>
        </div>
        <div class="twoColumns__column">
            <p class="u-margin-top-0">
                El Pallars Sobirà té una extensió de 1.377,9 km2 i està situat al nord-oest de Catalunya. Limita al nord
                amb França, al nord-est amb Andorra, al sud amb el Pallars Jussà, a l'est amb l'Alt Urgell, al nord-oest
                amb la Vall d'Aran i a l'oest amb l'Alta Ribagorça. La capital del Pallars Sobirà és Sort, únic municipi
                que supera el miler d'habitants.
            </p>
            <p>
                El riu Noguera Pallaresa és el riu més important de la comarca. Neix al Pla de Beret i travessa tota la
                comarca fins a arribar a la Noguera Ribagorçana, on es fusionen per formar el riu Segre.
            </p>
            <p>
                Al Pallars Sobirà trobem el Parc Nacional d'Aigüestortes i Estany de Sant Maurici i el Parc Natural de
                l'Alt Pirineu. Aquestes dues àrees protegides ocupen una gran part del territori de la comarca.
            </p>
            <p>
                El punt més alt del Pallars Sobirà és la Pica d'Estats, amb 3.143 metres d'altitud. Aquesta muntanya és
                el cim més alt de Catalunya i està situada a la frontera amb França.
            </p>
        </div>
    </div>
</div>
